<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stack Overflow Clone{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Stack Overflow Clone!</h1>
        <nav>
            <a href="{% url 'question_list' %}">Home</a>
            <a href="{% url 'question_create' %}">Create Question</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_profile_view' %}">Profile</a>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Echipa numele echipei</p>
    </footer>
</body>
</html>
