{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Questions</h1>

    <form method="get" action="{% url 'search_results' %}" class="mb-4 d-flex">
        <input type="text" name="query" placeholder="Search" class="form-control me-2" aria-label="Search">
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>

    {% for question in questions %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'question_detail' question.id %}" class="text-decoration-none">{{ question.title }}</a></h2>
                <p class="card-text">
                    {{ question.content|striptags|truncatewords:50}}
                </p>
                <p class="card-text">
                    Asked by: 
                    <a href="{% url 'profile_view' question.author.username %}" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="View profile of {{ question.author.username }}">
                        <strong>{{ question.author.username }}</strong>
                    </a>
                    on {{ question.created_at|date:"F d, Y" }}
                </p>
                
            </div>
        </div>
    {% empty %}
        <p>No questions available.</p>
    {% endfor %}

    <div class="d-flex justify-content-between mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary btn-sm">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary btn-sm">Previous</a>
            {% endif %}
        </span>

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        <span class="step-links">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary btn-sm">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary btn-sm">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% block extra_js %}
    <script>
        // Initialize Bootstrap tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}
{% endblock %}
